body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

form {
    border: 4px solid #ccc; /* Define a borda */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    padding: 20px; /* Adiciona espaçamento interno */
    width: 100%; /* Garante que o formulário ocupe espaço */
    max-width: 600px; /* Define uma largura máxima */
    background-color: #fff;
    box-sizing: border-box; /* Inclui a borda e o padding no tamanho total */
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type= "file"],
textarea,
select {
    width: 100%; /* Faz o campo ocupar toda a largura disponível */
    padding: 8px; /* Adiciona espaçamento interno */
    margin-bottom: 8px; /* Espaçamento entre os campos */
    border: 2px solid #ccc; /* Define a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    box-sizing: border-box; /* Inclui o padding e a borda no tamanho total */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    background-color: #f9f9f9; /* Adiciona um fundo claro */
}

input:focus {
    border-color: #007BFF; /* Altera a cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
    background-color: #fff; /* Destaca o fundo ao focar */
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

legend {
    font-weight: bold;
    margin-bottom: 8px;
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

#resumo{
    resize: none;
    width: 75%;
    height: 100px;
}